.mainContentContainer {
  --mainContainerGap: 2rem;
  --sortByPadding: 1.2rem 2rem;
  --sortByPaddingRight: 4rem;
  --taskContainerGridColumn: 3;
  --taskContainerGridGap: 2rem;

  --gridTaskCardPadding: 1.5rem 2rem;
  --taskCardStatusPadding: 0.75rem 1rem;

  display: flex;
  flex-direction: column;
  gap: var(--mainContainerGap);
}
.mainContentContainer > h3 {
  font-size: var(--fs26);
  font-weight: 500;
  margin-bottom: 3rem;
}
.mainContentContainer .taskActions {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.mainContentContainer .taskActions .view {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.mainContentContainer .taskActions .view svg {
  color: var(--textColor);
  cursor: pointer;
}
.mainContentContainer .taskActions .view .active svg {
  color: var(--primaryColor);
}
.mainContentContainer .taskActions .sortBy select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--asideBgColor);
  border: none;
  outline: none;
  padding: var(--sortByPadding);
  padding-right: var(--sortByPaddingRight);
  border-radius: 6px;
  box-shadow: 0px 0px 4px -3px var(--boxShadowColor);
  cursor: pointer;
  font-size: var(--fs16);
  color: var(--headingColor);

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23787d91' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right 1rem center;
}
